<mat-toolbar class="main-header">
  <div class="logo-container" routerLink="/">
    <span class="branding">Scuderia Ferrari</span>
  </div>

  <span class="spacer"></span>

  <button mat-button routerLink="/crud" routerLinkActive="active-link">
    Pilotos
  </button>
  <button mat-button routerLink="/sobre" routerLinkActive="active-link">
    História
  </button>
  <button mat-button routerLink="/contato" routerLinkActive="active-link">
    Contato
  </button>
  <button mat-button routerLink="/privacidade" routerLinkActive="active-link">
    Privacidade
  </button>
</mat-toolbar>